:root {
  --odst: 7px;
}
.ball {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: green;
}
.border {
  background-color: lightgray;
  width: calc(100% - var(--odst));
  height: 40dvh;
  border: 5px solid;
  border-color: gray;
  border-radius: 2px;
}
