.ball {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: green;
}
.border {
  background-color: lightgray;
  width: 90vw;
  height: 50dvh;
  border: 5px solid;
  border-color: gray;
  border-radius: 2px;
}
